.rima{
    background-color: brown;
    padding: 3px;

}
rima-1{
    width: 5px;
    
}

.title{
    text-align: center;
    margin-bottom: 40px;

}
.title h2 {
    font-size: 35px;
}
.team-member{
    display: flex;
    justify-content: space-between;

}
.member{
    width: 150px;
    background-color: green;

}
.member img{
    width: 100px;

}
.member h3{
    color: blue;

}


